<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

{{range .}}
<div>
    <h1>{{.AcaYear}}</h1>
    <p>{{.Fall.Term}}</p>
    <ol>
        {{range .Fall.Courses}}
        <li>  {{.Number}} - {{.Name}} (Units: {{.Units}})</li>
        {{end}}
    </ol>
    <p>{{.Spring.Term}}</p>
    <ol>
        {{range .Spring.Courses}}
        <li>  {{.Number}} - {{.Name}} (Units: {{.Units}})</li>
        {{end}}
    </ol>
    <p>{{.Summer.Term}}</p>
    <ol>
        {{range .Summer.Courses}}
        <li>  {{.Number}} - {{.Name}} (Units: {{.Units}})</li>
        {{end}}
    </ol>
</div>
{{end}}

</body>
</html>