<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

<h1>HOTELS IN CALIFORNIA</h1>
{{range .Hotels}}
<div>
    <h4>{{.Name}}</h4>
    <p>{{.Address}}, {{.City}}, {{.Zip}}. {{.Region}}</p>
</div>
{{end}}

</body>
</html>