<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1>Here you can see some information about the author of this code:</h1>

    <p>Name: {{.LastName}}, {{.FirstName}}</p>
    <p>Age(year 2020): {{.Age}}</p>
</body>
</html>